<style>
  .sticky {
     position: sticky;
     top: 0;
     background-color: #00154f;
     padding: 40px;
     font-size: 30px;
     color: white;
}
</style>
<h2>Sticky Notes: See the Effect of the Sticky Element</h2>
    <p>position: sticky</p>
    <div class="sticky">This is my To-Do List!</div>
    <p>
    <ol>
        <li>Call Manager </li>
        <li>Meeting with Employees</li>
        <li>Submit Report</li>
        <li>Go to the Doctor</li>
        <li>Book a flight</li>
        <li>Go for walk.</li>
        <li>Go for grocery.</li>
        <li>Watch TV</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
        <li>Some text.</li>
    </ol>
    </p>